<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/element/element.css">
    <link rel="script" href="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js">
</head>
<body onload="f()">
<h1>SUCCESS!</h1>
<div id="app">
    {{message}}
<!--    <input type="button" onclick="v1.f()" value="search">-->
</div>

</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="../static/js/vue/vue.js"></script>
<script type="text/javascript" src="../static/js/element/index.js"></script>
<script>
    function f(){
        $.ajax({
            url:'/search',
            type:'get',
            success(res) {
                let msg=JSON.stringify(res);
                active(msg);
            }
        })
    }

    function active(res) {
        let ap = new Vue({
            el:'#app',
            data:{
                message:res
            }
        })
    }
</script>
</html>